/* Navbar Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background-color: #191919;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.menu-icons {
  color: #eee;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}

nav {
  display: flex;
  /* position: fixed; */
  align-items: center;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  width: 5rem;
  height: 5rem;
  background-color: #eb3007;
  display: flex;
  border-radius: 100%;
  margin-right: 5rem;
}

.logo img {
  margin: auto;
  height: 45px;
  width: 45px;
  border-radius: 90%;
  font-size: 3rem;
  color: #eee;
}

.nav-list {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-list > li {
  line-height: 8rem;
  position: relative;
}

.sub-menu li {
  line-height: 4rem;
}

.nav-list a {
  display: block;
  color: #eee;
  align-items: center;
  padding: 0 2.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 650ms;
}

.nav-list a:hover {
  color: #eb3007;
}

.btn {
  padding: 1.3rem;
  display: inline-block;
  background-color: #eb3007;
  border: 2px solid #eb3007;
  border-radius: 5rem;
  transition: background-color 650ms;
}

.btn:hover {
  color: #eb3007;
  background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px solid #eb3007;
  background-color: #191919;
  z-index: 100;
  top: 16rem;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms ease;
}

.sub-menu::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #eb3007;
}

/* .sub-menu .sub-menu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #eb3007;
} */

/* .sub-menu .sub-menu{
    border-top: none;
    border-left: 3px solid #eb3007;
    top: 0;
    left: 160%;
} */

.nav-list li:hover > .sub-menu {
  top: 8rem;
  opacity: 1;
  visibility: visible;
}

.sub-menu li:hover > .sub-menu {
  top: 0;
  left: 100%;
}

li.move-right {
  margin: auto 0 auto auto;
  line-height: initial;
}

@media screen and (max-width: 850px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: #191919;
    z-index: 1000;
    overflow-y: scroll;
  }

  .nav-list > li {
    line-height: 6rem;
  }

  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    border-left-color: #add100;
    margin-left: 1rem;
    max-height: 0;
  }

  .sub-menu::before {
    display: none;
  }

  .nav-list li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  li.move-right {
    margin: 0 auto 0 0;
    line-height: initial;
  }

  .menu-icons {
    display: block;
  }

  .ion-md-close {
    display: none;
  }

  nav.active .ion-md-close {
    display: block;
  }

  nav.active .ion-md-menu {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }
}

/* Navbar End */

/* Hero Start */

/* Slide Show Start */

.slideshow {
  width: 100%;
  margin-top: 80px;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}

.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10rem 5rem;
}

.slideshow-item-text h5 {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.slideshow-item-text p {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
  }
}

@media screen and (max-width: 1000px) {
  .slideshow-item-text {
    max-width: 70%;
    padding: 5rem 1rem;
  }

  .slideshow-item-text h5 {
    font-size: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .slideshow-item-text {
    max-width: 100%;
    padding: 2rem;
    top: initial;
    bottom: 0;
    transform: initial;
  }

  .slideshow-item-text h5 {
    font-size: 3rem;
    text-align: center;
  }

  .slideshow-item-text p {
    font-size: 1.4rem;
    text-align: center;
  }
}

/* Menu Card Start */
section .menu-card-top{
  background-color: #191919;
  height: 100vh;
  display: grid;
  place-items: center center;
  font-family: 'Poppins', sans-serif;
}

.menu-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 40px;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: rgb(242, 246, 247);
  position: relative;
}

.menu-heading::after {
  content: '';
  width: 10rem;
  height: 0.8rem;
  background-color: #f10808;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.menu-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.menu-card{
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.menu-container{
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%,0 100%);
}

.menu-card-top img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.menu-container:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.card1 > .menu-container:after{
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2 > .menu-container:after{
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}

.card3 > .menu-container:after{
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.menu-details{
  padding: 20px 10px;
}

.menu-details > h3{
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.menu-details > p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

/* Menu Card End */

/* Loction Part Start */

/* Location Image Slider Start  */


.location-body{
  background: linear-gradient(to right, #2c5364, #0f2027);
  height: 100vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.location-slider{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.location-slider span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.location-slider span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 100px; */
  object-fit: cover;
  transition: 2s;
}

.location-slider span:hover img{
  transform: translateY(-50px) scale(1.2);
}

/* Location Image Slider End  */

/* Location Heading Start */


.location-headind{
  width: 100%;
  text-align: center;
  margin-top: -60px;
  background: #be6a6a;
  padding-bottom: 10px;
}

.location-headind h1{
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 65px;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: rgb(242, 246, 247);
  position: relative;
}

.location-headind h1::after {
  content: '';
  width: 20rem;
  height: 0.8rem;
  background-color: #f10808;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.location-headind h2{
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.location-headind p{
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

/* Location Heading End */

/* Location Map Start */
.location-map{
  width: 100%;
  height: 70vh;
  background: #080808;
  margin-top: -59px;
}

.location-map h2{
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 65px;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: rgb(242, 246, 247);
  position: relative;
}

.location-map h2::after {
  content: '';
  width: 10rem;
  height: 0.8rem;
  background-color: #31fc09;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.location-map iframe{
  width: 100%;
  height: 100%;
}

/* Location Map End */

/* Loction Part End */

/* Tranning Background Vedio Start */
section .video-container{
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
}

#bg-video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 80px;

}

.video-word{
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.video-word span{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 12vw;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 3vw;
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: translateY(-100vh);
  animation: fall 3.5s forwards;
}

@keyframes fall{
  100%{
    transform: translateY(0);
  }
}

.video-word span:nth-child(2){
  animation-delay: 0.7s;
}

.video-word span:nth-child(3){
  animation-delay: 1.4s;
}

.video-word span:nth-child(4){
  animation-delay: 2.1s;
}

.video-word span:nth-child(5){
  animation-delay: 2.8s;
}

.video-word span:nth-child(6){
  animation-delay: 3.5s;
}

.video-word span:nth-child(7){
  animation-delay: 4.2s;
}

.video-word span:nth-child(8){
  animation-delay: 4.9s;
}


/* Tranning Background Vedio End */


/* Join Start */
 /* Became Member Start  */ 

section .join-container{
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 80px;
 
}

#bg-video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  


}

.join-word{
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.join-word span{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1vw;
  text-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: translateY(-100vh);
  animation: fall 1.4s forwards;
}

@keyframes fall{
  100%{
    transform: translateY(0);
  }
}

.video-word span:nth-child(2){
  animation-delay: 0.7s;
}

.video-word span:nth-child(3){
  animation-delay: 1.4s;
}

 /* Become Member End  */

 /* Join Form Start  */

.form-section{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: url(images/body-menu.jpg); */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form-container{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.form-container .form-title{
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.form-container .form-title::before{
  content: '';
  position: absolute;
  align-items: center;
  /* left: 0; */
  bottom: 0;
  height: 3px;
  width: 60px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form-container form .form-user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .form-user-details .form-input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.form-user-details .form-input-box .form-details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 15px;
}

.form-user-details .form-input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.form-user-details .form-input-box select{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.form-user-details .form-input-box input:focus,
.form-user-details .form-input-box input:valid{
  border-color: #9b59b6;
}

form .form-gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}

form .form-gender-details .form-category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  /* background: red; */
  justify-content: space-between;
}

.form-gender-details .form-category label{
  display: flex;
  align-items: center;
}

.form-gender-details .form-category .dot{
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .form-category label .one,
#dot-2:checked ~ .form-category label .two,
#dot-3:checked ~ .form-category label .three{
  border-color: #d9d9d9;
  background: #03f718;
}

form input[type="radio"]{
  display: none;
}

form .form-button{
  height: 45px;
  margin: 45px 0;
}

form .form-button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .form-button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.form-gender{
  font-size: 14px;
}

@media (max-width: 584px){
  .form-container{
    max-width: 100%;
  }

  form .form-user-details .form-input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  form .form-gender-details .form-category{
    width: 100%;
  }

  .form-container form .form-user-details{
    max-height: 300px;
    overflow-y: scroll;
  }

  .form-user-details::-webkit-scrollbar{
    width: 0;
  }
}



/* Join Form End  */

.free-pass{
  margin-top: 80px;
}
/* Join End */

/* Meet our Trainers Start */

.trainers-section {
  padding: 5rem 0;
  background-color: #799F0C;
}

.trainers-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

.trainers-heading::after {
  content: '';
  width: 10rem;
  height: 0.8rem;
  background-color: #45e19f;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.trainers-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.trainers-card {
  width: 32rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.trainers-card .trainers-card-img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  /* https://bennettfeely.com/clippy/   */
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.trainers-profile-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 999;
  border: 1rem solid #ebeef8;
}

.trainers-card h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem;
}

.trainers-job-title {
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}

.trainers-about {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: #333;
}

.trainers-card .trainers-btn {
  padding: 1rem 2.5rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.trainers-card .trainers-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.trainers-card .trainers-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.trainers-social-media {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.trainers-social-media i {
  font-size: 3rem;
  transition: color 0.5s;
}

.fa-facebook-square {
  color: #3b5999;
}

.fa-twitter-square {
  color: #55acee;
}

.fa-instagram {
  color: #e6683c;
}

.fa-google-plus-square {
  color: #dd4b39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover {
  color: #45e19f;
}

@media screen and (min-width: 700px) {
  .trainers-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .trainers-card {
    margin: 2rem;
    transition: transform .5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .trainers-card::nth-child(1) {
    animation: fadeIn 0.5s 0.5s backwards;
  }
  .trainers-card::nth-child(2) {
    animation: fadeIn 0.5s 0.1s backwards;
  }
  .trainers-card::nth-child(3) {
    animation: fadeIn 0.5s 1.5s backwards;
  }
  .trainers-card::nth-child(4) {
    animation: fadeIn 0.5s 2s backwards;
  }

  .trainers-card:hover{
      transform: scale(1.05);
  }


}

/* Meet our Trainers End  */

/* Services Start */
.services-yoga{
  margin-top: 80px;
  height: 50vh;
  width: 100%;
}

.services-yoga img{
  width: 100%;
  height: 61vh;
}

.services-yoga h1{
  justify-content: center;
  margin-top: -15%;
  text-align: center;
  font-size: 60px;
}


@media (max-width: 700px){
  .services-yoga h1{
    justify-content: center;
    margin-top: -40%;
    text-align: center;
    font-size: 40px;
  }
}

.yoga-dis{
  background-color: #1d3644;
  padding-bottom: 10px;
  
}

.yoga-dis h2{
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 70px;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: rgb(242, 246, 247);
  position: relative;
}

.yoga-dis h2::after {
  content: '';
  width: 20rem;
  height: 0.8rem;
  background-color: #f10808;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.yoga-dis h3{
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
  margin-right: -3px;
  padding-bottom: 10px;
  text-align: left;
  color: rgb(242, 246, 247);
  position: relative;
}

.yoga-button{
  height: 45px;
  margin: 45px 0;
}

.yoga-button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.yoga-button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}



/* Services End */


/* Footer Start */
footer{
  position: relative;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}

.footer-content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

.footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-logo-details{
  color: #fff;
  font-size: 30px;
}

.footer-logo-details img{
  height: 26px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
}

.footer-media-icons{
  display: flex;
}

.footer-media-icons a{
  height: 40px;
  width: 40px;
  background: red;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.footer-media-icons a:nth-child(1){
  background: #4267B2;
}

.footer-media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}

.footer-media-icons a:nth-child(2){
  background: #1DA1F2;
}

.footer-media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}

.footer-media-icons a:nth-child(3){
  background: #E1306C;
}

.footer-media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}

.footer-media-icons a:nth-child(4){
  background: #0077B5;
}

.footer-media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}

.footer-media-icons a:nth-child(5){
  background: #FF0000;
}

.footer-media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}

.footer-link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-box{
  width: calc(100% / 5 - 10px);
}

.footer-link-name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.footer-link-name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.footer-box li{
  margin: 6px 0;
  list-style: none;
}

.footer-box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.footer-box li a:hover{
  opacity: 1;
  text-decoration: underline;
}

.footer-input-box{
  margin-right: 55px;
}

.footer-input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.footer-input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}

.footer-input-box input[type = "button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.footer-input-box input[type = "button"]:hover{
  opacity: 1;
}

.footer-bottom-details{
  width: 100%;
  background: #0F0844;
}

.footer-bottom-text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-text span,
.footer-bottom-text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.footer-bottom-text a:hover{
  opacity: 1;
  text-decoration: underline;
}

.footer-bottom-text a{
  margin-right: 10px;
}

@media (max-width: 900px){
  .footer-link-boxes{
    flex-wrap: wrap;
  }
   
  .footer-input-box{
    width: 40%;
    margin-top: 10px;
  }

}

@media (max-width: 700px){
  footer{
    position: relative;
  }
  .footer-logo-details{
    font-size: 26px;
  }

  .footer-media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  .footer-box{
    width: calc(100% / 3 - 10px);
  }

  .footer-input-box{
    width: 60%;
  }

  .footer-bottom-text span,
  .footer-bottom-text a{
    font-size: 12px;
  }
}

@media (max-width: 520px){
  .footer::before{
    top: 145px;
  }

  .footer-top{
    flex-direction: column;
  }

  .footer-media-icons{
    margin-top: 16px;
  }

  .footer-box{
    width: calc(100% / 2 - 10px);
  }

  .footer-input-box{
    width: 100%;
  }
}
/* Footer End */
